@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

/* unvisited link */

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:link {
    color: #F9FAF8;
}

/* mouse over link */
a:hover {
  color: #c9cac7;
}

/* selected link */
a:active {
  color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-container {
    margin: 16px 15% 8% 15%;
    padding: 0px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.header-links {
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.hero-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    width: 450px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5b6a80;
    width: 600px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
}
.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background-color: #3882F6;
    border: 2px;
    border-color: #E5E7EB;
    padding: 8px 35px;
    border-radius: 0.5em;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20% 8% 20%;
}

.info-maintext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
    color: #1F2937;
    font-weight: 300;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.card-box {
    width: 150px;
    height: 150px;
    border: solid 3px #3882F6;;
    border-radius: 10px;
}
/* 
.quote {
    border: solid 2px red;
}
/*