@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --max1: 60%;
  --max2: 50%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #bdbdbd;
}

.header-container {
    max-width: var(--max);
    margin-block: 10px 110px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 110px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header-links a {
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: #E5E7EB;
    height: 230px;
}

.hero-maintext {
    width: 330px;
}

.hero-subtext {
    width: 450px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    height: inherit;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95969b;
    height: inherit;
    width: 500px;
}

.hero-button {
    background-color: #3882F6;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding-inline: 30px;
    padding-block: 6px;
}

.hero-button a {
    color: #F9FAF8;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: var(--max2);
    margin-inline: auto;
    padding-block : 40px 100px;
}

.infos-maintext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.cards li {
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 165px;
    gap: 5px;
}

.card-box {
    border: solid 4px #3882F6;
    border-radius: 20px;
    height: 165px;
    width: 165px;
}

.quote {
    background-color: #E5E7EB;
    padding-block: 150px;
    padding-inline: 200px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    max-width: var(--max2);
    margin-inline: auto;
    gap: 16px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-sign {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block : 150px 150px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: var(--max1);
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding-inline: 100px;
    padding-block: 45px;
    gap: 100px
}

.cta-container button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding-inline: 30px;
    padding-block: 6px;
    font-weight: 900;
}

.cta-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
}

.cta-maintext{
    font-weight: 900;
}